<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <description>The home directory of the albumServer, 
containing config.properties</description>
        <param-name>albumServerHome</param-name>
        <param-value>/home/jbf/albumServer</param-value>
    </context-param>
    <servlet>
        <servlet-name>PhotoServer</servlet-name>
        <servlet-class>com.cottagesystems.albumserver.PhotoServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediaServer</servlet-name>
        <servlet-class>com.cottagesystems.albumserver.MediaServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressServlet</servlet-name>
        <servlet-class>com.cottagesystems.servlet.ProgressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.cottagesystems.albumserver.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageMagik</servlet-name>
        <servlet-class>com.cottagesystems.albumserver.Convert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotoServer</servlet-name>
        <url-pattern>/PhotoServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServer</servlet-name>
        <url-pattern>/MediaServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoServer</servlet-name>
        <url-pattern>/PhotoServer.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServer</servlet-name>
        <url-pattern>/MediaServer.mpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServer</servlet-name>
        <url-pattern>/MediaServer.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServer</servlet-name>
        <url-pattern>/MediaServer.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressServlet</servlet-name>
        <url-pattern>/ProgressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageMagik</servlet-name>
        <url-pattern>/ImageMagik</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AlbumServer0.jsp</welcome-file>
    </welcome-file-list>
    <init-param>
        <description>The home directory of the albumServer, 
containing config.properties</description>
        <param-name>albumServerHome</param-name>
        <param-value>/home/jbf/albumServer</param-value>
    </init-param>
</web-app>
